* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* LEFT SIDE */
.left {
  width: 50%;
  padding: 60px;
  color: white;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
}


.left h2 {
  font-size: 32px;
  margin-bottom: 120px;
  font-weight: 600;
}

.left h3 {
  font-size: 22px;
  margin-bottom: 6px;
}

.left h1 {
  font-size: 36px;
  color: #f9d342;
  margin-bottom: 80px;
  line-height: 1.2;
}

.info-box {
  background: rgba(255,255,255,0.25);
  padding: 25px 30px;
  border-radius: 20px;
  font-size: 17px;
  line-height: 1.5;
  width: 85%;
  margin-top: 400px;   /* adjust value as needed */
}


/* RIGHT SECTION */
.right {
  width: 50%;
  padding: 80px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 600;
}

.subtitle {
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 15px;
  color: #444;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 15px;
  margin-bottom: 5px;
}

input {
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.forgot {
  font-size: 13px;
  color: #0066ff;
  text-decoration: none;
}

.check-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  background: #3e5c24;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  opacity: 0.85;
}
